<!DOCTYPE dataset SYSTEM "dataset.dtd">
<dataset>
    <table name="bruce.yf_node">
        <column>id</column>
        <column>available</column>
        <column>name</column>
        <column>uri</column>
        <column>includetable</column>
        <row>
            <value>1</value>
            <value>true</value>
            <value>Cluster 0 - Primary master</value>
            <value>jdbc:postgresql://localhost:@DB_PORT@/bruce_master?user=bruce</value>
            <value>replication_test\..+</value>
        </row>
        <row>
            <value>2</value>
            <value>true</value>
            <value>Cluster 0 - Slave Uno</value>
            <value>jdbc:postgresql://localhost:@DB_PORT@/bruce_slave_1?user=bruce</value>
            <value>replication_test\..+</value>
        </row>
        <row>
            <value>3</value>
            <value>true</value>
            <value>Cluster 0 - Slave Dos</value>
            <value>jdbc:postgresql://localhost:@DB_PORT@/bruce_slave_2?user=bruce</value>
            <value>replication_test\..+</value>
        </row>
    </table>
    <table name="bruce.yf_cluster">
        <column>id</column>
        <column>name</column>
        <column>master_node_id</column>
        <row>
            <value>1000</value>
            <value>ClusterOne</value>
            <value>1</value>
        </row>
    </table>
    <table name="bruce.node_cluster">
        <column>node_id</column>
        <column>cluster_id</column>
        <row>
            <value>1</value>
            <value>1000</value>
        </row>
        <row>
            <value>2</value>
            <value>1000</value>
        </row>
        <row>
            <value>3</value>
            <value>1000</value>
        </row>
    </table>
</dataset>